@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
  h4 {
    @apply font-black text-xl;
  }
}

body {
  font-family: 'Short Stack', cursive;
  margin: 0;
  display: grid;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}
